{% load blog_tags %}
<div class="col-12 col-lg-4">

	<div class="card border-light shadow-sm mb-3">
		<div class="card-header h4">Latest Posts</div>
		<div class="card-body">
			<h5 class="card-text h5">{% show_latest_posts 3 %}</h5>
		</div>
	</div>

  <div class="card border-light shadow-sm mb-3">
    <div class="card-header h4">All Tags</div>
    <div class="card-body">
    	<h5 class="card-text h5">{% show_all_tags %}</h5>
    </div>
  </div>

	<!-- Blog Search Widget -->
	<div class="form-group">
		<form role="search" method="get" class="form_search" action="">
			<div class="input-group">
			<input type="text" class="form-control search_query" name="search" placeholder="Search&hellip;"
			{% if search %} value="{{ search }}" {% endif %}
			/>
				<span class="input-group-append">
					<button class="btn btn-secondary" type="submit">
						<span class="fa fa-search"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
	
</div>